<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om sidan</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Om sidan</h1>
        <nav class="nav-container">
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/addcourse">Lägg till kurs</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="about-container">
            <h2>Backend baserad webbutveckling</h2>
            <p class="about">Denna uppgiften gick ut på att koppla en databas till min webbplats, jag anväde mig av PostgreSQL. Syftet
                med detta var i sin tur att man ska kunna lägga till information om kursen på webbplatsen och därmed
                lagra dem i databasen med. Samt att man ska kunna radera kurser från databasen och därmed webbplatsen.
                Informationen om kurserna som lagras är ID, kursnamn, kurskod, porgression, syllabus och när dem läggs
                till. Det som jag valde att skriva ut på själva webbplatsen var endast kursnamn, kurskod, progression
                och syllabus.
            </p> 
            <p class="about">Även om detta endast är första momentet på kursen så känner jag redan att det kommer att vara en otroligt
                lärorik kurs som kommer att ge mig mycket. Backend utveckling är väldigt intressant och jag ser fram emot att lära mig mycket mer!</p>
        </div>
    </main>

</body>

</html>